Exercício 1001

In [ ]:
A = int(input())
B = int(input())
X = A + B 

print("X = %d" % X)

15
-7
X = 8

Exercício 1002

In [ ]:
R = float(input())
n = 3.14159
A = n*R**2

print("A=%.4f" % A)

2.00
A=12.5664

Exercício 1003

In [ ]:
A = int(input())
B = int(input())
SOMA = A + B
print("SOMA = %d" % SOMA)

30
10
SOMA = 40

Exercício 1004

In [ ]:
A = int(input())
B = int(input())
p = A * B
print ("PROD = %d" % p)

0
9
PROD = 0

1005

In [ ]:
A = float(input())
B = float(input())
m = (A*3.5 + B*7.5)/11
print("MEDIA = %.5f" % m)

10.0
10.0
MEDIA = 10.00000

1006

In [ ]:
A = float(input())
B = float(input())
C = float(input())
m = (A*2+B*3+C*5)/10
print("MEDIA = %.1f" % m)

10.0
10.0
5.0
MEDIA = 7.5

1007

In [ ]:
A = int(input())
B = int(input())
C = int(input())
D = int(input())
df = A*B - C*D
print("DIFERENCA = %d" % df)

5
6
-7
8
DIFERENCA = 86

1008

In [ ]:
F = int(input())
H = int(input())
S = float(input())
SM = H*S
print("NUMBER = %d" % F)
print("SALARY = U$ %0.2f" % SM)

6
145
15.55
NÚMERO = 6
SALÁRIO = U$ 2254.75

1009

In [ ]:
N = str(input())
S = float(input())
V = float(input())
SF = S+V*0.15
print("TOTAL = R$ %0.2f" % SF)

Mangojata
1700.00
1230.50
TOTAL = R$ 1884.58

1010

In [ ]:
p1 = (input())
p2 = (input())
list1 = p1.split(" ")
list2 = p2.split(" ")
p1 = float(list1[2])
u1 = int(list1[1])
p2 = float(list2[2])
u2 = int(list2[1])
v = u1*p1+u2*p2
print("VALOR A PAGAR: R$ %0.2f" % v)

1 1 15.10
2 1 15.10
VALOR A PAGAR = 30.20

1011

In [ ]:
r = float(input())
pi =  3.14159
v = (4/3) * pi * r**3
print("VOLUME = %.3f" % v)

1523
VOLUME = 14797486501.627

1012

In [ ]:
abc = (input())
list1 = abc.split(" ")
A = float(list1[0])
B = float(list1[1])
C = float(list1[2])
pi = 3.14159
T = (A*C)/2
CO = pi*C**2
TP = (A+B)*(C/2)
Q = B*B
R = A*B
print("TRIANGULO: %.3f" % T)
print("CIRCULO: %.3f" % CO)
print("TRAPEZIO: %.3f" % TP)
print("QUADRADO: %.3f" % Q)
print("RETANGULO: %.3f" % R)

3.0 4.0 5.2
TRIANGULO: 7.800
CIRCULO: 84.949
TRAPEZIO: 18.200
QUADRADO: 16.000
RETANGULO: 12.000

teste 1012

In [ ]:
ABC = input().split()
ABC = float(A), float(B), float(C)
pi = 3.14159
T= A*C/2
CO = pi*C**2
TR = (A+B)*(C/2)
Q = B*B
R = A*B
print ("TRIANGULO: %.3f" % T)
print ("CIRCULO: %.3f" % CO)
print ("TRAPEZIO: %.3f" % TR)
print ("QUADRADO: %.3f" % Q)
print ("RETANGULO: %.3f" % R)

3.0 4.0 5.2
TRIANGULO: 7.800
CIRCULO: 84.949
TRAPEZIO: 18.200
QUADRADO: 16.000
RETANGULO: 12.000

1013

In [ ]:
a = int(input())
b = int(input())
s = int(input())
mab =

1014

In [ ]:
x = int(input())
y = float(input())
cm = x/y
print("%.3f km/l" % cm)

4554
464.6
9.802 km/l

1035

In [ ]:
v = (input())
list1 = v.split(" ")
A = int(list1[0])
B = int(list1[1])
C = int(list1[2])
D = int(list1[3])
if ( B>C and D>A and C+D>A+B and C>=0 and D>=0 and A%2 == 0):
  print("Valores aceitos")
else:
  print("Valores nao aceitos")

2 3 2 6
Valores aceitos

1038

In [ ]:
cq = input().split(" ")
cq = int(X), int(Y)
X =

1050

In [ ]:
number = int(input())
if number = 61: